h1{
  font-family: Montserrat;
  font-size: 3.3rem;
  line-height: 1.5;
  font-weight: bolder;
  color: white;
}
h2 {
  font-family: Montserrat;
  font-size: 3.2rem;
  line-height: 1.5;
  padding : 0 15% 3%;
}
h3 {
  font-family: Montserrat;
  color: black;
}
p{
  color: #8f8f8f;
}

.title {
  background-color: #ff4c68;
  height: 55rem;
}
/* navigation bar */
.navbar {
  margin: 0 0 4.5rem;
}
.navbar-brand {
  font-family: Ubuntu;
  font-weight: bold;
  font-size: 2.5rem;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
}
.container-fluid {
  padding: 7% 15% 0;
}
/* title section */
.download-button {
  margin: 30px 20px 0 0;
}
.rotate-25 {
  margin-top: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
  width: 70%;
  transform: rotate(25deg);
}
/* features */
.ft-box {
  padding: 5%;
}
.features {
  padding: 6% 15%;
  text-align: center;
  background-color: white;
  position: relative;
  z-index: 1;
}
.ft-image {
  color : #ef8172;
  margin-bottom: 1rem;
}
.ft-image:hover {
  color : #ff4c68;
}

/* testimonials */
.testimonials {
  padding: 5% 15%;
  text-align: center;
  background-color:#ff4c68;
  color: #fff;
}
.testimonial-img {
  border-radius: 100%;
  margin: 20px;
}

/* press */
.press {
  background-color: #ff4c68;
  text-align: center;
  padding-bottom: 3%;
}
.press-image {
    width : 15%;
    margin: 5px 20px 50px;
}

/* pricing */
.pricing {
  padding: 100px;
  text-align: center;
}
.pricing-col {
  padding: 3% 2%;
}

/* call of action */
.cta {
  background-color: #ff4c68;
  color: white;
  text-align: center;
  padding: 4% 15%;
}

/* footer */
.footer {
  padding: 7% 15% 2%;
  text-align: center;
}
.social-icon {
  margin: 0 5% 5%;
}

@media (max-width : 1190px) {
  .rotate-25 {
    width: 70%;
    margin-left: 0;
    margin-right: 5rem;
    transform: rotate(0);
    position: absolute;
  }
  .title {
    text-align: center;
  }
}
